App/STOpsConsole/Service References/UserInfoService/TR.AppServer.UserInfoService.AccountHierarchyService_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TR.AppServer.UserInfoService.AccountHierarchyService_2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TR.AppServer.UserInfoService.AccountHierarchyService_2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:complexType name="ArrayOfLocationScopeResultInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationScopeResultInfo" nillable="true" type="tns:LocationScopeResultInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationScopeResultInfo" nillable="true" type="tns:ArrayOfLocationScopeResultInfo" />
  <xs:complexType name="LocationScopeResultInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
      <xs:element name="isInScopeField" type="xs:boolean" />
      <xs:element name="locationAccountIdField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationScopeResultInfo" nillable="true" type="tns:LocationScopeResultInfo" />
</xs:schema>