App/SystemTestApp/Service References/DataCollectorService/DataCollectorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataCollectorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IPlatformUsageDataCollector_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8989/PlatformUsageDataCollector/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8989/PlatformUsageDataCollector/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8989/PlatformUsageDataCollector/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteOpsConsoleDesktopMessage" />
  </wsdl:message>
  <wsdl:message name="IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteOpsConsoleDesktopMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageLzma_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteOpsConsoleDesktopMessageLzma" />
  </wsdl:message>
  <wsdl:message name="IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageLzma_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteOpsConsoleDesktopMessageLzmaResponse" />
  </wsdl:message>
  <wsdl:message name="IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageGzip_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteOpsConsoleDesktopMessageGzip" />
  </wsdl:message>
  <wsdl:message name="IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageGzip_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteOpsConsoleDesktopMessageGzipResponse" />
  </wsdl:message>
  <wsdl:portType name="IPlatformUsageDataCollector">
    <wsdl:operation name="WriteOpsConsoleDesktopMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessage" message="tns:IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageResponse" message="tns:IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteOpsConsoleDesktopMessageLzma">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageLzma" message="tns:IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageLzma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageLzmaResponse" message="tns:IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageLzma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteOpsConsoleDesktopMessageGzip">
      <wsdl:input wsaw:Action="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageGzip" message="tns:IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageGzip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageGzipResponse" message="tns:IPlatformUsageDataCollector_WriteOpsConsoleDesktopMessageGzip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IPlatformUsageDataCollector" type="tns:IPlatformUsageDataCollector">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IPlatformUsageDataCollector_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="WriteOpsConsoleDesktopMessage">
      <soap12:operation soapAction="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOpsConsoleDesktopMessageLzma">
      <soap12:operation soapAction="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageLzma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOpsConsoleDesktopMessageGzip">
      <soap12:operation soapAction="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageGzip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IPlatformUsageDataCollector" type="tns:IPlatformUsageDataCollector">
    <wsdl:operation name="WriteOpsConsoleDesktopMessage">
      <soap12:operation soapAction="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOpsConsoleDesktopMessageLzma">
      <soap12:operation soapAction="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageLzma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteOpsConsoleDesktopMessageGzip">
      <soap12:operation soapAction="http://tempuri.org/IPlatformUsageDataCollector/WriteOpsConsoleDesktopMessageGzip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataCollectorService">
    <wsdl:port name="NetNamedPipeBinding_IPlatformUsageDataCollector" binding="tns:NetNamedPipeBinding_IPlatformUsageDataCollector">
      <soap12:address location="net.pipe://datacollectorservice/e76f4f48-33ec-4f15-bd0e-e06d4ff4573f" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://datacollectorservice/e76f4f48-33ec-4f15-bd0e-e06d4ff4573f</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_IPlatformUsageDataCollector" binding="tns:CustomBinding_IPlatformUsageDataCollector">
      <soap12:address location="autobus://./2f5c4514-384c-4c8c-b827-b3300f205226" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>