App/SystemTestApp/Service References/AppHitsService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://thomsonreuters.com/as/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppHitsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IAppHits_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://thomsonreuters.com/as/" location="" />
  <wsdl:types />
  <wsdl:binding name="NetNamedPipeBinding_IAppHits" type="i0:IAppHits">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IAppHits_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Process">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSimple">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/ProcessSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStream">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/ProcessStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStreamCompressed">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/ProcessStreamCompressed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessAllCompressed">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/ProcessAllCompressed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueDepthConfig">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/GetQueueDepthConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshUser">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/RefreshUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFeatureHistory">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/GetUserFeatureHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFeatureHistoryStream">
      <soap12:operation soapAction="http://thomsonreuters.com/as/IAppHits/GetUserFeatureHistoryStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppHitsService">
    <wsdl:port name="NetNamedPipeBinding_IAppHits" binding="tns:NetNamedPipeBinding_IAppHits">
      <soap12:address location="net.pipe://apphitsservice/4d48e2d6-2d23-430a-9c07-be96594d7ed4" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://apphitsservice/4d48e2d6-2d23-430a-9c07-be96594d7ed4</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>